html, body { 
  height: 100%; 
  overflow: hidden; 
}

body {
  background: #000;
  height: 70vh;
  margin: 0px;
  display: grid;
  place-items: center center;
  background: radial-gradient(
    circle at center,
   #3A6073,  #16222A
  )
}
th, td {
	padding: 5px;
}

div {
	padding: 20px;
}
.div-game-guide {
	height: 200px;
}

.div-join-game {
	display:block;
	height: 150px;
}

.div-game-board {
	display: block;
	overflow: hidden;
	height: 250px;
	width: 1000px;
}

.center {
	display: flex; 
	align-items: center; 
	justify-content: center; 
}

.txt-game-id, .txt-player-name {
	text-align: center;
	width: 200px;
	display: flex; 
	align-items: center; 
	justify-content: center; 
}

.btn-play-game, .btn-how-to{
	color: rgb(53, 53, 53);
	width: 208px;
	height: 20px;
	display: flex; 
	align-items: center; 
	justify-content: center; 
	background-color: rgb(249, 143, 69);
	border: 1px rgb(88, 88, 88) solid;
}

.error-msg {
	display: flex; 
	align-items: center; 
	justify-content: center;
	color: red;
	font-size: 12px;
	height: 30px;
}

.p1-big-pit {
	font-size: 42px;
	color:  rgb(53, 53, 53);
	border: 1px rgb(0, 0, 0) solid;
	border-radius: 0.5vh;
	height: 190px;
	width: 150px;
	text-align: center;
	background-color: rgb(249, 143, 69);
}

.p2-big-pit {
	font-size: 42px;
	color:aliceblue;
	border: 1px rgb(0, 0, 0) solid;
	border-radius: 0.5vh;
	height: 190px;
	width: 150px;
	text-align: center;
	background-color: rgb(88, 88, 88);
}

.p1-small-pit {
	font-size: 22px;
	border: 1px rgb(0, 0, 0) solid;
	border-radius: 0.5vh;
	height: 80px;
	width: 80px;
	text-align: center;
	background-color: rgb(219,219,219);
	cursor: pointer;
}

.p2-small-pit {
	font-size: 22px;
	color:aliceblue;
	border: 1px rgb(0, 0, 0) solid;
	border-radius: 0.5vh;
	height: 80px;
	width: 80px;
	text-align: center;
	background-color: rgb(88, 88, 88);
}

.p1-small-pit:hover {
  background-color: rgb(249, 143, 69);
}

.pit-shadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(103, 103, 103);
}

.div-player-msg {
	display: block;
	text-align: center;
	font-size: 28px;
	height: 50px;
	color: aliceblue;
}

.contain {
	object-fit: fill;
}

.fade-in {
	animation: fadeIn 5s
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}